/*.header ul li:hover {
    background: url("../icon/dis.png") 0rem 5rem no-repeat;
    background-size: 100%;
}*/

.header ul li:hover{
    border-bottom:2px solid #cf101c;
}
@media screen and (max-width: 768px){
    .header ul li{
        background-color: #f1f1f1;
        margin-top: 2px;
    }
    .header ul li:hover{
        border-bottom:none;
        background-color: #ccc;
        color:#cf101c;
    }
}
.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover {
    color: #f00;
}

.header ul li:hover a{
    color:#cf101c;
}
.footer #box ul li a:hover{
    color:#cf101c;
    background-color: #ccc;
}
.trains{
    transition: all .3s;
}
.trains:hover{
    margin-top:-12px;
}
.latest-news-bg{
    transition: all 1s;
}
.latest-news-bg:hover{
    background-color: #cf101c;
}
.news-bg img{
    transition: all .3s;
}
.news-bg img:hover{
    transform: scale(1.1);

}

.trans_max{
    transition: all 0.3s;

}
.trans_max:hover{
    transform: scale(1.2);
}

/*公共*/
.red{
    color: #cf101c;
}
.banner{
    height:400px;
}
.active{
    border-bottom:2px solid #cf101c;
}