html,body{
    padding:0;margin:0;
}
a{
    text-decoration:none;
}
li{
    list-style: none;
}
.header_top{
    background-color: #333;
    color:#fff;
    margin: 0;
}
.header{
    padding:1rem 0;
}
.header h1{
    display: inline-block;
    padding:0;
    float: left;
    margin-left: -99999px;
}
.header h1{
    display: inline-block;
}
.header nav{
    background-color: #fff;
}
.header ul{
    margin: 0;
}
.header ul li{
    height: 6rem;
    text-align: center;
    padding:1rem .5rem;
    line-height:4rem;
    margin: 0 1rem;
}
.header ul li a{
    transition:all  .3s;
    color:#000;
    display: inline-block;
    text-decoration:none;
}
.header{}
.navbar-default .navbar-toggle .icon-bar{
    background-color: #cf101c;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form{
    background-color: #fff;
}

/*轮播图*/
.swiper-slide{
    height: 40rem;
    background-color: #ccc;
    width: 100%;
}
.swiper-wrapper{
    width: 1170px;
    padding:0;
    margin: 0;
}
.swiper-button-prev, .swiper-container-rtl .swiper-button-next{
    left: 0;
}

/*底部*/
.footer{
    color:#fff;
    padding:2rem 0;
    background: url("../images/footer_back.jpg") no-repeat ;
    background-size: 100% 100%;
}
.footer{}
.footer .footer_content{
    height: 40px;
    line-height: 40px;
}
.footer ul li{
    padding:0;
}
.footer ul li a{
    text-decoration: none;
    color:#fff;
    transition: all .3s;
}
hr{
    border-color:#f00;
}
.footer_bottom p{
    color:#fff;
    font-size:1.2rem;
    line-height: 2rem;
}
.footer_bottom center{
    color:#fff;
    text-align: center;
    font-size:1rem;
}
/*下拉菜单*/
#box{
    float: right;
    left: 0;
    text-align: center;
    padding:0;
    cursor: pointer;
    height: 34px;
    position: relative;
    z-index: 30;
}
#div{
    width: 200px;
    height: 34px;
    line-height:34px;
    background-color: #e4a001;
    color:#fff;
}
.footer #box li{
    list-style:none;
    background-color: #f9f9f9;
    border-bottom:1px solid #ccc;
    height: 34px;
    line-height:34px;
    width: 200px;

}

.footer #box li a{
    transition:all .3s;
    color:#000;
    display: inline-block;
    width: 100%;
    height: 100%;

}
#div span{
    display: inline-block;
    background: url("../icon/down.jpg");
    height: 34px;
    width: 34px;
    float: right;
}

#ul{
    transition:all .3s;
    display: none;
    padding:0;
}






